<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left nav-logo"><i class="fa fa-magic" aria-hidden="true"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Lessons', lessons_path %></li>
      <li><%= link_to 'Achievements', pages_achievement_path %></li>
      <% if current_user %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
      <li><%= render 'shared/level' if current_page?root_path %></li>
    </ul>
  </div>
</nav>
