<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag(@lesson.photo) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @lesson.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @lesson.body %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
<%= button_to  "Mark Complete", pages_point_path, method: :point, params: { 'achievement' => "click on every link" }, notice: 'notice' %>

