<!DOCTYPE html>
<html>
  <head>
    <title>GamifyDevCamp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to 'sign out', destroy_user_session_path %>
      <%= render 'shared/alerts' %>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo left nav-logo"><i class="fa fa-magic" aria-hidden="true"></i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><%= link_to 'Lessons', lessons_path %></li>
	        <li><%= link_to 'Achievements', pages_achievement_path %></li>
	        <% if current_user %>
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	        <% else %>
	        <li><%= link_to "Login", new_user_session_path %></li>
	        <li><%= link_to "Register", new_user_registration_path %></li>
	        <% end %>
	      </ul>
	    </div>
	  </nav>
    <%= yield %>
    
  </body>
</html>
